/*
    ヘッダー
*/
nav {
    position:relative;
	width: 100%;
	display: none;    
    color:#fff8e1 !important;
}

nav a {
    color: #fff8e1 !important;
}

nav.fixed {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
    z-index: 5;
}

#header_title {
    margin-left:20px;
    font-size: 1.3em;
}


/*
    FAB
*/
.btn-floating i{
    color: #fff8e1 !important;
}

/*
    コンテンツ
*/
.contents {    
    margin-bottom:200px;
    margin-top:200px;
}

.top-image {
    background-image: url("../img/top_bg.jpg");
    background-position: top center;    
    background-size: cover;    
    height:100vh;
}

.top-image-transparent {
    background-color:rgba(0,0,0,0.5);
    height:100vh;
}

.top-image-title {
    padding-top:40vh;
}

.top-caption {
    text-align:center;
    font-size: 1px;
}

#title_circle {
    background-color:#fff8e1 !important;
    width:40px;
    height:40px;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    border-radius:100px;
}

.contents-icon {
    font-size:4em;
}

.contents-title {
    margin:50px;
}

.card .card-title {
    font-size: 1.4em;
}

.more-btn {
    color:teal !important;
    width:100%;
}

.action-with-btn {
    padding:10px !important;
}

.disco-head {
    font-size:.5em;
}

.disco-foot {
    font-size:.5em;
    margin-top:10px;
}

.disco-album-title {
    margin-bottom:10px;
    margin-top:10px;
    font-size:.7em;
}

.disco-tracks {
    font-size:.5em;
}

.contents-disco {
    font-size:calc(100% + 0.6vw);
    
}

#buy_btn {
    width:100%;
}

.disco-img {
    max-width: 350px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

/*
    サイドメニュー
*/
.userView .background {
    background-color: black;    
}
.userView .background img{
    width:100%;
    opacity:0.7;
}
.userView .user {
    width:64px;
    height:64px;
    border-radius:50px;
    background-image:url("https://www.pakutaso.com/shared/img/thumb/BO15103041151030415133_TP_V.jpg");
    background-position: top center;    
    background-size: cover;    
}